apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "open-ondemand.fullname" . }}
  labels:
    {{- include "open-ondemand.labels" . | nindent 4 }}
    instanceID: {{ .Values.SLATE.Instance.ID | quote }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "open-ondemand.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "open-ondemand.selectorLabels" . | nindent 8 }}
    spec:
      volumes:
        - name: shared-data
          emptyDir: {}
        - name: ood-portal-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-ood-portal
            items:
            - key: ood_portal.yml
              path: ood_portal.yml
        - name: keycloak-setup
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-keycloak-setup
        - name: cluster-config-files
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-shell-setup
        - name: desktop-config-files
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-desktop-host
        - name: desktop-form
          configMap:
            {{ include "open-ondemand.fullname" . }}-desktop-form
        # Claim SLATE volume to persist Keycloak data.
        - name: keycloak-db
          persistentVolumeClaim:
            claimName: keycloak-persistent-volume-{{ .Values.Instance }}
      containers:
        - name: open-ondemand
          image: dockerbox88/open-ondemand:latest
          imagePullPolicy: Always
          volumeMounts:
            - name: shared-data
              mountPath: /shared
            - name: ood-portal-config
              mountPath: /etc/ood/config/ood_portal.yml
              subPath: ood_portal.yml
            # Shell app
            - name: cluster-config-files
              mountPath: /etc/ood/config/clusters.d
            # Desktop app
            - name: desktop-config-files
              mountPath: /etc/ood/config/apps/bc_desktop/single_cluster
            # Form.yml
            - name: desktop-form
              mountPath: /var/www/ood/apps/sys/bc_desktop
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: SLATE_INSTANCE_NAME
              value: {{ .Values.Instance }}
            - name: SLATE_CLUSTER_NAME
              value: {{ .Values.SLATE.Cluster.DNSName }}
        - name: keycloak
          image: jboss/keycloak:4.8.3.Final
          imagePullPolicy: Always
          # Run script if setupKeycloak parameter is enabled.
          {{ if eq .Values.setupKeycloak true }}
          lifecycle:
            postStart:
              exec:
                command: ["/bin/bash", "/etc/keycloak/keycloak-setup.sh"]
          {{ end }}
          volumeMounts:
            - name: shared-data
              mountPath: /shared
            - name: keycloak-setup
              mountPath: /etc/keycloak/
              # Mount SLATE volume to the location of the Keycloak database.
            - name: keycloak-db
              mountPath: "/opt/jboss/keycloak/standalone/data"
          env:
            - name: PROXY_ADDRESS_FORWARDING
              value: "true" 
              # Set Keycloak default username and password
            - name: KEYCLOAK_USER
              value: "admin"
            - name: KEYCLOAK_PASSWORD
              value: {{ randAlphaNum 12 | b64enc | quote }}
              # Specify database type (default Java H2 database)
            - name: DB_VENDOR 
              value: "h2"
            - name: SLATE_INSTANCE_NAME
              value: {{ .Values.Instance }}
            - name: SLATE_CLUSTER_NAME
              value: {{ .Values.SLATE.Cluster.DNSName }}
            - name: SLATE_SETUP_LDAP
              value: {{ .Values.setupLDAP | quote }}
          ports:
            - name: kc8080
              containerPort: 8080
              protocol: TCP
---