apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "open-ondemand.fullname" . }}
  labels:
    {{- include "open-ondemand.labels" . | nindent 4 }}
    instanceID: {{ .Values.SLATE.Instance.ID | quote }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "open-ondemand.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "open-ondemand.selectorLabels" . | nindent 8 }}
    spec:
      {{ if eq .Values.enableHostAdapter true }}
      nodeSelector:
        disktype: {{ .Values.advanced.node_selector_label }}
      {{ end }}
      volumes:
        # Shared Volume
        - name: shared-data
          emptyDir: {}
        # Claim SLATE volume to persist Keycloak data.
        - name: keycloak-db
          persistentVolumeClaim:
            claimName: keycloak-persistent-volume-{{ .Values.Instance }}
        # Keycloak Startup Script
        - name: keycloak-setup
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-keycloak-setup
        # OnDemand SSSD config
        - name: ood-sssd-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-sssd
            items:
            - key: sssd.conf
              path: sssd.conf
        # OnDemand Server Config
        - name: ood-portal-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-ood-portal
            items:
            - key: ood_portal.yml
              path: ood_portal.yml
              mode: 0600
      ######## Start of Advanced Features ########
        # LinuxHost Adapter
        - name: linuxhost-adapter-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-host-adapter
        # NFS Volume
        - name: nfs-volume
          persistentVolumeClaim:
            claimName: ood-nfs-pvc
        - name: autofs-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-autofs
            items:
            - key: autofs_config.sh
              path: autofs_config.sh
              mode: 0700
        # HostBased Authentication setup script
        - name: hostbased-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-hostbased-auth
            items:
            - key: hostbased.sh
              path: hostbased.sh
              mode: 0700
        # HostKey Volumes
        - name: key-volume
          secret:
            secretName: {{ .Values.advanced.secret_name }}
            items:
            {{ range .Values.advanced.host_keys }}
              - key: {{ .host_key.name | lower | nospace }}
                path: {{ .host_key.name | lower | nospace }}
                mode: 0600
            {{ end }}
        # Desktop Application Files
        - name: desktop-app-config
          configMap:
            name: {{ include "open-ondemand.fullname" . }}-desktop-app
            items:
            - key: form.yml
              path: form.yml
            - key: submit.yml.erb
              path: submit.yml.erb
            - key: linuxhost_submit.yml.erb
              path: linuxhost_submit.yml.erb
            {{ range .Values.clusters }}
            {{ if eq .cluster.enableHostAdapter true }}
            - key: {{ .cluster.name | lower | nospace }}.yml
              path: {{ .cluster.name | lower | nospace }}.yml
            {{ end }}
            {{ end }}
      ######## End of Advanced Features ########
      containers:
        - name: open-ondemand
          image: dockerbox88/open-ondemand:latest
          imagePullPolicy: Always
          {{ if eq .Values.advanced.autofs true }}
          securityContext:
            privileged: true
          {{ end }}
          volumeMounts:
            # Shared Volume
            - name: shared-data
              mountPath: /shared
            # OnDemand Server Config
            - name: ood-portal-config
              mountPath: /etc/ood/config/ood_portal.yml
              subPath: ood_portal.yml
            # LinuxHost Adapter
            - name: linuxhost-adapter-config
              mountPath: /etc/ood/config/clusters.d
            # SSSD
            {{ if eq .Values.setupLDAP true }}
            - name: ood-sssd-config
              mountPath: /etc/sssd/sssd.conf
              subPath: sssd.conf
            {{ end }}
          ######## Start of Advanced Features #########
          {{ if eq .Values.enableHostAdapter true }}
            # HostBased Authentication Config
            - name: hostbased-config
              mountPath: /root/hostbased.sh
              subPath: hostbased.sh
            # NFS Volume
            {{ if eq .Values.advanced.NFS true }}
            - name: nfs-volume
              mountPath: {{ .Values.advanced.fileSharing.nfs_path }}
            {{ end }}
            # Autofs Config
            {{ if eq .Values.advanced.autofs true }}
            - name: autofs-config
              mountPath: /root/autofs_config.sh
              subPath: autofs_config.sh
            {{ end }}
            # Secret Volume
            {{- range .Values.advanced.host_keys }}
            - name: key-volume
              mountPath: /root/{{ .host_key.name | lower | nospace }}
              subPath: {{ .host_key.name | lower | nospace }}
            {{- end }}
            # Desktop Application Files
            {{- range .Values.clusters }}
            {{ if eq .cluster.enableHostAdapter true }}
            - name: desktop-app-config
              mountPath: /etc/ood/config/apps/bc_desktop/{{ .cluster.name | lower | nospace }}.yml
              subPath: {{ .cluster.name | lower | nospace }}.yml
            {{ end }}
            {{- end }}
            - name: desktop-app-config
              mountPath: /var/www/ood/apps/sys/bc_desktop/form.yml
              subPath: form.yml
            - name: desktop-app-config
              mountPath: /var/www/ood/apps/sys/bc_desktop/submit.yml.erb
              subPath: submit.yml.erb
            - name: desktop-app-config
              mountPath: /etc/ood/config/apps/bc_desktop/submit/linuxhost_submit.yml.erb
              subPath: linuxhost_submit.yml.erb
          {{ end }}
          ######## End of Advanced Features ########
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: SLATE_INSTANCE_NAME
              value: {{ .Values.Instance }}
            - name: SLATE_CLUSTER_NAME
              value: {{ .Values.SLATE.Cluster.DNSName }}
        - name: keycloak
          image: jboss/keycloak:4.8.3.Final
          imagePullPolicy: Always
          # Run script if setupKeycloak parameter is enabled.
          {{ if eq .Values.setupKeycloak true }}
          lifecycle:
            postStart:
              exec:
                command: ["/bin/bash", "/etc/keycloak/keycloak-setup.sh"]
          {{ end }}
          volumeMounts:
            - name: shared-data
              mountPath: /shared
            - name: keycloak-setup
              mountPath: /etc/keycloak/
              # Mount SLATE volume to the location of the Keycloak database.
            - name: keycloak-db
              mountPath: "/opt/jboss/keycloak/standalone/data"
          env:
            - name: PROXY_ADDRESS_FORWARDING
              value: "true" 
              # Set Keycloak default username and password
            - name: KEYCLOAK_USER
              value: "admin"
            - name: KEYCLOAK_PASSWORD
              value: {{ randAlphaNum 12 | b64enc | quote }}
              # Specify database type (default Java H2 database)
            - name: DB_VENDOR 
              value: "h2"
            - name: SLATE_INSTANCE_NAME
              value: {{ .Values.Instance }}
            - name: SLATE_CLUSTER_NAME
              value: {{ .Values.SLATE.Cluster.DNSName }}
            - name: SLATE_SETUP_LDAP
              value: {{ .Values.setupLDAP | quote }}
          ports:
            - name: kc8080
              containerPort: 8080
              protocol: TCP
---