apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "open-ondemand.fullname" . }}-shell-setup
data:

  {{ range .Values.clusters }}
  cluster-{{ .cluster.name }}.yml: |
    ---
    v2:
      metadata:
        title: {{ .cluster.name | quote }}
        priority: 2
      login:
        host: {{ .cluster.host | quote }}
    ---
  {{ end }}
