apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "osg-frontier-squid.fullname" . }}
  labels:
    app: {{ template "osg-frontier-squid.name" . }}
    chart: {{ template "osg-frontier-squid.chart" . }}
    release: {{ .Release.Name }}
    instance: {{ .Values.Instance | quote }}
    instanceID: {{ .Values.SLATE.Instance.ID | quote  }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "osg-frontier-squid.name" . }}
      chart: {{ template "osg-frontier-squid.chart" . }}
      release: {{ .Release.Name }}
      instance: {{ .Values.Instance | quote }}

  template:
    metadata:
      labels:
        app: {{ template "osg-frontier-squid.name" . }}
        chart: {{ template "osg-frontier-squid.chart" . }}
        release: {{ .Release.Name }}
        instance: {{ .Values.Instance | quote }}
    spec:
      nodeSelector:
        # Required affinity for using local storage
        {{ if .Values.SLATE.LocalStorage }}
        storage: "local"
        {{ end }}
        # For Node Selection
        {{ if .Values.NodeSelection.Hostname }}
        kubernetes.io/hostname: {{ .Values.NodeSelection.Hostname }}
        {{ end }}
      containers:
      # Container for the primary application, OSG Frontier Squid
      - name: osg-frontier-squid
        image: opensciencegrid/frontier-squid:20210106-2231
        imagePullPolicy: Always
        ports:
        - containerPort: 3128
          name: squid
        - containerPort: 3401
          name: monitoring
          protocol: UDP
        volumeMounts:
        - name: osg-frontier-squid-{{ .Values.Instance }}-conf
          mountPath: /etc/osg/image-config.d/60-image-post-init.sh
          subPath: 60-image-post-init.sh 
        {{ if .Values.SquidConf.LogToStdout }}
        - name: osg-frontier-squid-{{ .Values.Instance }}-conf
          mountPath: /etc/supervisord.d/50-squid-log-dump.conf
          subPath: 50-squid-log-dump.conf 
        {{ end }}
        # Storage location of the cache data
        - mountPath: /var/cache/squid/osg-frontier-squid-{{ .Values.Instance }}-cache
          subPath: osg-frontier-squid-{{ .Values.Instance }}-cache
          name: osg-frontier-squid-{{ .Values.Instance }}-data
      volumes:
        - name: osg-frontier-squid-{{ .Values.Instance }}-conf
          configMap:
            name: {{ template "osg-frontier-squid.fullname" . }}
            items:
            - key: 60-image-post-init.sh
              path: 60-image-post-init.sh
              mode: 448
            {{ if .Values.SquidConf.LogToStdout }}
            - key: 50-squid-log-dump.conf
              path: 50-squid-log-dump.conf
            {{ end }}
        - name: osg-frontier-squid-{{ .Values.Instance }}-data
        {{ if .Values.SLATE.LocalStorage }}
          persistentVolumeClaim:
            claimName: osg-frontier-squid-{{ .Values.Instance }}-pvc
        {{ else }}
          emptyDir: {}
        {{ end }}
